# Зависимости
node_modules/

# Файлы окружения (там наши секреты)
.env
.env.local

# База данных SQLite
*.db
*.db-journal

# Папки с загруженными файлами (у нас будут облачные)
uploads/

# Билды фронтенда
dist/
build/